/* This is exist css */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.paiedList {
  border: 1px solid gray;
}

body {
  background: #ffb4b4;
  font-family: "Baloo Tammudu 2", cursive;
  /* display: flex; */
  /* text-align: center; */
  /* justify-content: center; */
}

.welcome {
  color: white;
}

.btn_container {
  display: flex;
}

.btnPatient,
.btnDoctor {
  font-family: "Baloo Tammudu 2", cursive;
  padding: 30px;
  color: white;
  background: #2a566b;
  border-radius: 4px;
}
